h1 {
	text-transform: uppercase;
	text-align: left;
	font-size: 25px;
	font-weight: 600;
	letter-spacing: 2px;
}

h4 {
	margin-bottom: 0;
}

button {
	outline: none;
}

input[type="number"] {
	width: 100px;
}

#screener-form > .row:first-child > .col-md-6:first-child {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}

.screen-btn {
	height: 40px;
	text-transform: uppercase;
	letter-spacing: 2px;
	background: transparent;
	cursor: pointer;
	transition: all 0.3s ease;
	position: relative;
	background: #273472;
	color: #fff;
	padding: 0 30px;
	border: none;
}
.screen-btn:hover {
	background: transparent;
	color: #273472;
	box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9, 7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001;
}
.screen-btn:before,
.screen-btn:after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	height: 2px;
	width: 0;
	background: #273472;
	transition: 400ms ease all;
}
.screen-btn:after {
	right: inherit;
	top: inherit;
	left: 0;
	bottom: 0;
}
.screen-btn:hover:before,
.screen-btn:hover:after {
	width: 100%;
	transition: 800ms ease all;
}

.dark .screen-btn {
	background-color: #ffffff;
	color: #000;
}
.dark .screen-btn:hover {
	background-color: transparent;
	color: #ffffff;
	/* border: 2px solid ; */
}
.dark .screen-btn:before,
.dark .screen-btn:after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	height: 2px;
	width: 0;
	background: #fff;
	transition: 400ms ease all;
}
.dark .screen-btn:after {
	right: inherit;
	top: inherit;
	left: 0;
	bottom: 0;
}
.dark .screen-btn:hover:before,
.dark .screen-btn:hover:after {
	width: 100%;
	transition: 800ms ease all;
}

.screener-items {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-bottom: 1vh;
}

.screener-items > div {
	display: flex;
	align-items: center;
}

.screener-items > div > span {
	margin: 0 1vw;
}

.screener-selection,
.screener-selection > div {
	display: flex;
	align-items: center;
}

.screener-selection {
	justify-content: space-between;
}

.reset-btn {
	margin-left: 10px;
}

.screen-list {
	height: 250px;
	width: 250px;
	margin-top: 20px;
	overflow-y: scroll;
	border: 1px solid rgba(0, 0, 0, 0.125);
}

.select-industry-list,
.select-sector-list {
	display: flex;
	justify-content: left;
	align-items: center;
}

.fa-arrow-right {
	font-size: 50px;
	padding: 10px;
}

.excluded {
	text-decoration: line-through;
}

.selected-industry,
.selected-sector {
	border-radius: 0.25rem;
	border: 1px solid rgba(0, 0, 0, 0.125);
}

.screen-result {
	margin: 20px 0;
}
