.status-bar {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 30px;
}

.deposit-container .status-bar button {
	margin-left: 5px;
}

.form-btn {
	background-color: #3146a1;
	color: #ffffff;
	cursor: pointer;
	padding: 10px 10px;
	text-align: center;
	border-radius: 5px 5px 0 0;
}

.form-btn.active {
	background-color: #273472;
	color: #ffffff;
}

.transfer-form-container .col-6 {
	border-radius: 0 0 5px 5px;
	border: 1px solid #d3d3d3;
	border-top: none;
}

.transfer-form-container .row:first-child .col-6 {
	border-bottom: none;
	border-radius: 0;
}

.import-bar > div {
	padding: 20px 0;
	text-align: center;
}

.import-bar button {
	margin-left: 5px;
	margin-top: 5px;
}
