#transfer-form {
	padding-left: 5px;
	text-align: center;
	padding-top: 20px;
}

#transfer-form div {
}

.transfer-input {
	display: flex;
	align-items: center;
	justify-content: center;
}

.transfer-input input {
	width: 50%;
}

.transfer-input span {
	margin-left: 5px;
}

#transfer-form .stonk-btn {
	width: 50%;
	margin-top: 10px;
}
