h1,
h2 {
	margin: 0;
}

.dark input {
	background-color: #000000;
	color: rgba(255, 255, 255, 0.8);
	border: 1px solid #ffffff;
}

.col-md-9 {
	border-left: 1px solid #000000;
}

tbody td:last-child,
tbody td:last-child:hover {
	color: #e41212;
	cursor: pointer;
}
