AWS_ACCESS_KEY=AKIAVXUWCHG4KFFPUPC3
AWS_SECRET_KEY=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

SPARK_SHARE_VOLUME=../spark/src
LOCAL_STREAMING_STORAGE=C:/spark/streaming
STREAMING_STORAGE=/tmp/streaming
LOCAL_AVRO_STORAGE=C:/spark/avro
AVRO_STORAGE=/tmp/avro

AWS_BUCKET_NAME=stonks-datalake
AWS_PSQL_ADDRESS=stonks-data.c7ulpajhhdsy.ap-southeast-1.rds.amazonaws.com
POSTGRES_DB=stonks2
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_STORAGE=../db/pg-data

SPARK_ADDRESS=172.1.0.2
MONGO_ADDRESS=172.1.0.10
MONGO_STORAGE=../mongodb